<form novalidate class="form-css" name='frmClientes' >
    <div class="err">
        <!-- Server validation errors -->
        <ul data-ng-show="$ctrl.errMsgs.length>0">
            <li data-ng-repeat="err in $ctrl.errMsgs">
                {{err.message}}
            </li>
        </ul>
    </div>

    ID: <span data-ng-bind='$ctrl.cliente.id'></span><br/>
    Nombre: <input name='nombre' data-ng-model="$ctrl.cliente.nombre" required/>
    <span id="errNombre" ng-show='frmClientes.nombre.$dirty && !frmClientes.nombre.$valid'>
        El nombre es obligatorio
    </span><br/>
    DNI: <input name="Dni" data-ng-model="$ctrl.cliente.dni" ng-pattern='/^\d{7,8}(-?[a-z])?$/i' required/>
    <span id="errDni" ng-show='frmClientes.Dni.$dirty && !frmClientes.Dni.$valid'>
        El DNI no es de la forma 12345678-A
    </span><br/>
    Socio: <input type="checkbox" id="ibSocio" data-ng-model="$ctrl.cliente.socio"/><br/>
    <button data-ng-click="$ctrl.guarda($ctrl.cliente)" data-ng-disabled='!frmClientes.$valid'>Guardar</button>
    <button data-ng-click="$ctrl.borra($ctrl.cliente.id)" data-ng-show='$ctrl.cliente.id>0'>Borrar</button>
    <a href="#!/lista">Cancelar</a>
</form>
