<nav class="col-md-2">
    <h2>Opciones</h2>
    <ul class=" nav nav-pills nav-stacked">
        <li><a href="index.html">Inicio</a></li>
        <li class=""><a href="#!/lista" id="btEdita" >Volver</a></li>
        <li class="active"><a href="#!/visualiza/{{$ctrl.cliente.id}}" id="btVisualiza" >Visualiza</a></li>
    </ul>
</nav>
<section class="col-md-10">
    <h2>Editar datos del cliente</h2>

    <!-- Custom component sample -->
    <!-- Show server validation errors -->
    <errores msgs="$ctrl.errMsgs" ></errores>

    <!-- Clientes Edit Form View -->

    <form novalidate  name='frmClientes' class="well">
        <div class="form-group">

            <label>ID: <span data-ng-bind='$ctrl.cliente.id'></span></label>
        </div>                                                    
        <div class="form-group">

            <label>Nombre: <input name='nombre' data-ng-model="$ctrl.cliente.nombre" required  class="form-control"/></label>
            <span id="errNombre" class="text-danger" ng-show='frmClientes.nombre.$dirty && !frmClientes.nombre.$valid'>
                El nombre es obligatorio
            </span>
        </div>
        <div class="form-group">

            <label>DNI: <input name="Dni" data-ng-model="$ctrl.cliente.dni" ng-pattern='/^\d{7,8}(-?[a-z])?$/i' required class="form-control"/></label>
            <span id="errDni" class="text-danger" ng-show='frmClientes.Dni.$dirty && !frmClientes.Dni.$valid'>
                El DNI no es de la forma 12345678-A
            </span>
        </div>
        <div class="form-group">

            <label>Socio: <input type="checkbox" id="ibSocio" data-ng-model="$ctrl.cliente.socio"  class="form-control"/></label>
        </div>
        <button data-ng-click="$ctrl.guarda($ctrl.cliente)" data-ng-disabled='!frmClientes.$valid' class="btn btn-primary" >Guardar</button>
        <button data-ng-click="$ctrl.borra($ctrl.cliente.id)" data-ng-disabled='!($ctrl.cliente.id > 0)' class="btn btn-danger" >Borrar</button>
        <a class="btn btn-default" href="#!/lista">Cancelar</a>
    </form>    

</section>