<div>
    <div class="err">
        <!-- Server errors -->
        <ul data-ng-show="$ctrl.errMsgs.length>0">
            <li data-ng-repeat="err in $ctrl.errMsgs">
                {{err.message}}
            </li>
        </ul>
    </div>
    <table>
        <tr data-ng-repeat="c in $ctrl.clientes" data-ng-click="$ctrl.edita(c.id)">
            <td>{{c.id}}</td><td>{{c.nombre}}</td><td>{{c.dni}}</td><td>{{c.socio}}</td>
            <td><a href="#!/visualiza/{{c.id}}">Ver</a>
                <a href="#!/edita/{{c.id}}">Editar</a>
                <a href="#!/borra/{{c.id}}">Borrar</a>
            </td>
        </tr>
    </table>
    <a href="#!/crea">Nuevo</a>
</div>