<nav class="col-md-2">
    <h2>Opciones</h2>
    <ul class=" nav nav-pills nav-stacked">
        <li><a href="index.html">Inicio</a></li>
        <li class=""><a href="#!/lista" id="btEdita" >Volver</a></li>
        <li class="active"><a href="#!/edita/{{$ctrl.cliente.id}}" id="btEdita" >Editar</a></li>
    </ul>
</nav>
<section class="col-md-10">
    <h2>Datos del cliente</h2>

    <!-- Server errors -->
    <div data-ng-show="$ctrl.errMsgs.length > 0">
        <p class="text-danger" data-ng-repeat="err in $ctrl.errMsgs">
            {{err.message}}
        </p>
    </div>
    <!-- Clientes View -->
    <div class="panel panel-default">
        <ul class="panel-body list-group">
            <li class="list-group-item"><strong>ID:</strong> <span class="list-group-item-text">{{$ctrl.cliente.id}}</span></li>
            <li class="list-group-item"><strong>Nombre:</strong> <span class="list-group-item-text">{{$ctrl.cliente.nombre}}</span></li>
            <li class="list-group-item"><strong>DNI:</strong> <span class="list-group-item-text">{{$ctrl.cliente.dni}}</span></li>
            <li class="list-group-item"><strong>Socio:</strong> <span class="list-group-item-text">{{$ctrl.cliente.socio?'Sí':'No'}}</span></li>
        </ul>
    </div>
</section>
