<div class="err">
    <!-- Server validation errors -->
    <ul data-ng-show="$ctrl.errMsgs.length>0">
        <li data-ng-repeat="err in $ctrl.errMsgs">
            {{err.message}}
        </li>
    </ul>
</div>
<h1>Datos Cliente</h1>
    ID: {{$ctrl.cliente.id}}<br>
    Nombre: {{$ctrl.cliente.nombre}}<br>
    DNI:{{$ctrl.cliente.dni}}<br>
    Socio: {{$ctrl.cliente.socio?'Sí':'No'}}<br>
    <p><a href='#!/edita/{{$ctrl.cliente.id}}'>Edita</a>&nbsp;
        <a href='#!/lista'>Volver</a></p>   
