<div class="err">
    <!-- Server validation errors -->
    <ul data-ng-show="cliRtCtrl.errMsgs.length>0">
        <li data-ng-repeat="err in cliRtCtrl.errMsgs">
            {{err.message}}
        </li>
    </ul>
</div>
<h1>Datos Cliente</h1>
    ID: {{cliRtCtrl.cliente.id}}<br>
    Nombre: {{cliRtCtrl.cliente.nombre}}<br>
    DNI:{{cliRtCtrl.cliente.dni}}<br>
    Socio: {{cliRtCtrl.cliente.socio?'Sí':'No'}}<br>
    <p><a href='#!/edita/{{cliRtCtrl.cliente.id}}'>Edita</a>&nbsp;
        <a href='#!/lista'>Volver</a></p>   
